.app {
  text-align: center;

}

.main-container {
  width: 60%;
  margin: 0 auto;
  margin-top: 25px;


}

li {
  border: 2px solid #000;
  padding: 15px 30px;
  margin-bottom: 20px;
}
.continent {
  width: 100%;


}
.country {
  width: 75%;
  margin-left: auto;
}
.country-name {
  position: relative;
}
.country-name::after {
  content: "";
  position: absolute;
  top: 26px;
  left: -2px;
  width: 160px;
  height: 1px;
  border: 1px dotted #000;
  transform: translateX(-160px);

}
.cities {
  width: 75%;
  margin-left: auto;
}
.city-name {
  position: relative;
}
.city-name::after {
  content: "";
  position: absolute;
  top: 26px;
  left: -2px;
  width: 314px;
  height: 1px;
  border: 1px dotted #000;
  transform: translateX(-314px);

}
.continent-name {
  position: relative;
  cursor: pointer;
}
.continent-name::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 40px;
  width: 920px;
  height: 1px;
  border: 1px dotted #000;
  transform: rotate(90deg);
  transform-origin: top left;

}
.no-after::after {
  content: none;
}

.hide {
  display: none;
}

.country-name, .continent-name, .city-name {
  background-color: #fff;
}
